
body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

button {
    background-color: white;
    border: none;
    color: black;
    font-family: Monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100px;
    padding: 10px 0px 10px 0px;
    outline: none;
    cursor: pointer;
}

button.narrow {
    width: 35px;
}

label {
    cursor: pointer;
}

input[type="file"] {
    background-color: white;
    border: none;
    color: black;
    font-family: Monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100px;
    padding: 10px 0px 10px 0px;
    outline: none;
    cursor: pointer;
}

#model-container {
    height: 200px;
    width: 250px;
    border: 1px solid white;
}

#cam-container {
    height: 200px;
}

.button-bar {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
}

#control-pad {
    z-index: 1000;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 20px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    width: 200px;
    background-color: black;
}

#program-pad {
    z-index: 1000;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 20px 20px 10px 20px;
    font-family: Monospace;
    font-size: 10px;
    color: #ffffff;
    width: 250px;
    background-color: black;
}

#job-pad {
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 20px 20px 10px 20px;
    font-family: Monospace;
    font-size: 10px;
    color: #ffffff;
    width: 250px;
    background-color: black;
}

.code-field {
    outline: none;
    border: 1px solid white;
    margin-bottom: 10px;
    padding-left: 10px;
    overflow: scroll;
    line-height: 1.25;
}

.red-border {
    border: 1px solid #e44242;
}

.red-text {
    color: #e44242;
}

#job-container {
    overflow: scroll;
    height: 100px;
}

#job-log {
    height: 25px;
}

#r-container {
    height: 200px;
    margin-top: 20px;
}

#filter-container {
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    border: 1px dashed #ffffff;
}

#rot-container {
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px dashed #ffffff;
}

#model-check-container {
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    border: 1px dashed #ffffff;
}

#upload-model-btn {
    background-color: white;
    border: none;
    color: black;
    font-family: Monospace;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    width: 100px;
    padding: 10px 0px 10px 0px;
    outline: none;
    cursor: pointer;
}

.gc-container {
    height: 400px;
    margin-top: 20px;
}

.hidden {
    display: none;
}

.reduced-gc-height .gc-container {
    height: 150px;
}

#machine-list-container {
    height: 150px;
    overflow: scroll;
}

#pre-machine-list {
    margin-bottom: 0px;
}

#load-machine-list {
    margin-top: 0px;
}

.load-machine-list {
    padding-left: 20px;
    padding-right: 20px;
}

.load-machine-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    list-style-type: none;
}

.current-machine-highlight {
    color: #000000;
    background-color: #ffffff;
    font-weight: bold;
}

.preview-machine-highlight {
    border: 1px solid #2ecc71;
}

#gcode-highlight {
    color: #000000;
    background-color: #ffffff;
}

#gcode-highlight.error-highlight {
    color: #ffffff;
    background-color: #e44242;
}

#results-pad {
    display: none;
    z-index: 1000;
    position: absolute;
    bottom: 20px;
    padding: 20px 20px 10px 20px;
    font-family: Monospace;
    font-size: 10px;
    color: #ffffff;
    background-color: black;
    width: 30%;
    left: 35%;
    height: 150px;
}

.result-pane {
    display: inline-block;
}

#chi-container {
    width: 200px;
}

.list-container {
    border: 1px solid white;
}

#explanation-container {
    margin-left: 10px;
    width: 200px;
}

.control-row {
    height: 65px;
    margin-bottom: 5px;
}

.pos-inst-container {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    display: none; /* to be programatically shown */
}

.position-row {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.inst-input {
    background-color: black;
    border: 2px solid white;
    outline: none;
    height: 25px;
    width: 85%;
    color: white;
    font-family: Monospace;
    font-size: 18px;
    padding-left: 15px;
}

.axis-name {
    display: inline-block;
    line-height: 65px;
    font-size: 28px;
}

.control-arrow {
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    overflow: auto;
}

/* Make dat.gui have cooler fonts */

.title {
    font-family: Monospace;
}

.property-name {
    font-family: Monospace;
}

.dg .cr.string input[type=text] {
    font-family: Monospace;
}

.function {
    font-family: Monospace;
}

.close-button {
    font-family: Monospace;
    display: none;
}

a {
    color: #ffffff;
}

