#create-dialog {
   display: none;
   width: 376px;
   height: fit-content;
}

.lego-grid {
   display: grid;
   height: inherit;
   grid-template-columns: 50% 50%;
   grid-template-areas: "left-col right-col";
   margin-bottom: 12px;
}

.lego-left-col {
   grid-area: left-col;
   padding-right: 6px;
}

.lego-right-col {
   grid-area: right-col;
   padding-left: 6px;
}

.lego {
   width: 100%;
   height: 120px;
   margin-top: 12px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   background: #F0F0F0;
   border-radius: 6px;
   @include transition(.2s);

   img {
      width: 108px;
      margin-bottom: 16px;
   }

   &:first-of-type {
      margin-top: 0px;
   }

   &:hover {
      background: #EAEAEA;
      transform: scale(1.01);
      @include transition(.1s);
   }

   &:active {
      transform: scale(0.99);
      @include transition(.1s);
   }
}