.dialog {
   position: absolute;
   margin-top: 16px; 
   top: 0;

   padding: 4px 12px;
   background: rgb(255, 255, 255);
   border-radius: 20px;
   box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
   @include transition(.5s);

   pointer-events: all;
}

.dialog-left {
   left: 0;
   margin-left: 16px;
   padding: 4px 8px;
}

.dialog-right {
   right: 0;
   margin-right: 16px;

   .line {
      width: calc(100% - 20px);
      margin-bottom: 16px;
   }
}

.dialog-header, .dialog-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 8px;
}

.dialog-header {
   padding: 0px 12px;
}

.prop-dialog {
   width: 420px;
   height: fit-content;
   padding: 0px 12px;
   padding-top: 4px;

   .left-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }

   .back-btn {
      margin-right: 8px;
   }
   
}

.dialog-main {
   // padding: 0 12px;
   padding: 0 8px;
   // width: calc(100% - 16px);
   // margin: 0px;
}

.dialog-footer {
   margin-bottom: 20px;
}