.prop-list {
   margin-bottom: 16px;
}

.prop-row {
   display: flex;
   margin-top: 12px;
   justify-content: space-between;
}

.dropdown-container {
   display: flex;
   align-items: center;
}

.dropdown-label {
   flex: 0 0 48px;
   margin-right: 2px;
   color: $gray-label;
}

.prop-field, select {
   border: 1px solid #CCC;
   border-radius: 4px;
   padding: 12px 10px 12px 10px;

   text-align: right;
}

input.prop-field {
   width: 45%;
}

select {
   flex: 1 1 auto;

   background-image: url("./icons/down_arrow.svg");
   background-repeat: no-repeat;
   background-position: right 12px top 50%, 0, 0;
   
   -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

select:hover {
   cursor: pointer;
   box-shadow: inset 0px 0px 1px #000;
}

.prop-item-66 {
   flex: 2 0 100px;
   margin-right: 16px;
}

.prop-item-33 {
   flex: 1 1 auto;
   margin-right: 8px;

   &:last-child {
      margin-right: 0;
   }

   .dropdown-label {
      flex: 1 2 auto;
      margin-right: 4px;
   }

   .prop-field {
      width: 67%;
   }
}

.prop-item-50 {
   display: flex;
   justify-content: space-between;
   flex: 1 1 50%;

   &:first-child {
      margin-right: 12px;
   }
}

.dialog-btn {
   border-radius: 6px;
   padding: 16px 20px;
   font-size: 15px;
   font-weight: 500;
   justify-content: center;
}