.objectlist-container {
   width: 280px;
   height: fit-content;
}

.dialog-main#objectlist {
   padding: 0px;
}

#objectlist .line {
   width: calc(100% - 24px);
   margin: 0px auto;
}

.list-item {
   width: 100%;
   padding: 15px 12px;
   margin: 6px 0px;
   border-radius: 10px;
   text-align: left;

   transition: all .15s cubic-bezier(.5,1,.5,1);

   &:hover {
      background: $gray-hover;
      transition: all .3s cubic-bezier(.5,1,.5,1);
   }

   &:active {
      background: $list-item-focus;
      transform: scale(0.98);
      transition: all .1s cubic-bezier(.5,1,.5,1);

      p {
         color: #444;
         font-weight: 600;
      }
   }

   &:focus {
      background: #F4F2FF;
      transition: all .1s cubic-bezier(.5,1,.5,1);

      p {
         color: #444;
         font-weight: 600;
      }
   }

   &:last-child {
      margin-bottom: 0px;
   }
}
