$primary-btn: #482AFF;
$list-item-focus: #F4F2FF;

$gray-label: #888888;
$gray-hover: #F0F0F0;

$divider-main: #242424;
$divider-list: #DADADA;

$shadow: rgba(0,0,0,0.05);

@mixin transition($time) {
   -webkit-transition: all $time cubic-bezier(.5,1,.5,1);
   -ms-transition: all $time cubic-bezier(.5,1,.5,1);
   transition: all $time cubic-bezier(.5,1,.5,1);
}