h1 {
   font-size: 16px;
   font-weight: 400;
   color: #EAEAEA;
}

h2 {
   font-size: 17px;
   font-weight: 700;
   line-height: 18px;
   padding: 16px 0px;
   color: #202020;
}

input[type=text] {
   font-size: 15px;
   font-weight: 400;
}

button {
   font-size: 14px;
	line-height: 14px;
   font-weight: 600;
   letter-spacing: 0.2px;
}

p {
   font-size: 15px;
   font-weight: 400;
   line-height: 1;
   color: #6A6A6A;
}