body {
	width: 100vw;
	height: 100vh;
	background: #F0F0F0; /* temporary */

	display: grid;
	grid-template-rows: 70px auto 100px;
	grid-template-areas: 
		"body-header"
		"body-main"
		"body-footer";
}

.header {
   grid-area: body-header;
   display: flex;
   justify-content: center;
   z-index: 10;
   pointer-events: none;
}

#container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.main {
	grid-area: body-main;
	position: relative;
    z-index: 10;
    pointer-events: none;
}

.footer {
   grid-area: body-footer;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: 24px;
   z-index: 10;
   pointer-events: none;
}